@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text: #3d405b;
  --category-pink: #ff5ce0;
  --category-orange: #ffa15c;
  --category-green: #1dd05b;
  --category-blue: #5cc8ff;
  --category-red: #ff625c;
}

@layer base {
  html {
    font-size: 16px;
  }

  body {
    @apply bg-neutral-50 text-lg;
    color: var(--primary-text);
  }
}
